###### Requirements without Version Specifiers ######`
wheel
pytest
pytest-cov

###### Requirements with Version Specifiers ######`
click==7.1.2
joblib==1.2.0
nltk==3.6.5
rake_new2==1.0.5
regex==2020.7.14
tqdm==4.48.0
